{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<img src="{{ asset('build/images/Groot1.jpg') }}" alt=""/>
<h1>{{ website }} index</h1>
{% endblock %}